@use "styles/functions";
.page-wrapper {
	display: flex;
	flex-direction: column;

	.header {
		margin-inline-start: auto;
		margin-block: functions.rem(20);
		display: flex;
		gap: functions.rem(10);
	}
	.filter-section {
		margin-inline: auto;
		margin-bottom: functions.rem(20);
	}
	.pagination {
		margin-top: functions.rem(20);
	}
}
