@import "src/styles/imports.scss";

.create-user-popup {
  .form {
    padding-top: rem(40);

    padding-bottom: rem(50);
    padding-inline: rem(30);
  }
}

@media (min-width: em($desktop)) {
  .create-user-popup {
    .form {
      padding-inline: rem(80);
    }
  }
}
