@import "src/styles/imports.scss";

.meta-tags-select {
  display: flex;
  gap: rem(6);
  .select {
    width: 70%;
  }
  .actions {
    .delete-icon {
      width: rem(25);
      padding: rem(2);
    }
  }
}

@media (min-width: em($desktop)) {
  .meta-tags-select {
    .select {
      width: 40%;
    }
  }
}
