@import "src/styles/imports.scss";

.radio-button {
  display: flex;
  &:hover {
    .radio-content {
      background-color: $input-background-color;
    }
  }
  &.selected {
    .radio-content {
      background-color: $input-background-color;
      .radio-outer-circle {
        background-color: $input-focus-color;

        .radio-inner-circle {
          background-color: white;
        }
      }
    }
  }
  .input {
    opacity: 0;
    width: 0;
    height: 0;
    &.disabled {
      @include input-disabled();
    }
    &:focus,
    &:focus-visible {
      + .radio-content {
        background-color: $input-background-color;

        .radio-outer-circle {
          border: 1px solid $input-focus-color;
        }
      }
    }
  }

  .radio-content {
    display: flex;
    padding: rem(5) rem(10);
    border-radius: rem(33);
    transition: 0.5s all ease-in-out;

    .radio-outer-circle {
      width: rem(20);
      height: rem(20);
      border: 1px solid black;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.5s all ease-in-out;

      .radio-inner-circle {
        width: 50%;
        height: 50%;
        border-radius: 50%;
        transition: 0.5s all ease-in-out;
      }
    }
    .radio-text {
      margin-inline-start: rem(5);
      @include input-text();
    }
  }
}
