@use "styles/functions";
@use "styles/settings";
@use "styles/mixins";
.rotating-texts-inputs-wrapper {
  margin-bottom: functions.rem(25);
  display: flex;

  flex-direction: column;
  gap: functions.rem(15);
  .row {
    display: flex;
    gap: functions.rem(25);
  }
}
