@import "src/styles/imports.scss";

@mixin loader($color) {
  .loader {
    width: rem(12);
    height: rem(12);
    position: absolute;

    border: 1px solid $color;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

@mixin theme($color) {
  display: flex;
  align-items: center;
  justify-content: center;
  &.primary {
    background-color: $color;
    color: white;

    &:hover {
      background-color: darken($color: $color, $amount: 10);
    }
    &:active {
      background-color: darken($color: $color, $amount: 20);
    }
    .icon {
      @include recolor(white);
    }
    @include loader(white);
  }
  &.secondary {
    border: 2px solid $color;

    color: black;
    &:hover {
      background-color: lighten($color: $color, $amount: 40);
    }
    &:active {
      background-color: lighten($color: $color, $amount: 35);
    }
    .icon {
      @include recolor(black);
    }
    @include loader(black);
  }
  &.tertiary {
    color: $color;
    &:hover {
      background-color: lighten($color: $color, $amount: 40);
    }
    &:active {
      background-color: lighten($color: $color, $amount: 35);
    }
    .icon {
      @include recolor($color);
    }
    @include loader($color);
  }
  &.loading {
    position: relative;
    .icon,
    .text {
      opacity: 0;
    }
  }
  &:focus,
  &:focus-visible {
    outline: 2px solid lighten($color: $color, $amount: 30);
    outline-offset: 1px;
  }
}

.basic-button {
  display: flex;

  align-items: center;
  justify-content: center;
  transition: all 300ms ease-in-out;
  &.default {
    @include theme($button-color-default);
  }
  &.success {
    @include theme($button-color-success);
  }
  &.info {
    @include theme($button-color-info);
  }
  &.warning {
    @include theme($button-color-warning);
  }
  &.help {
    @include theme($button-color-help);
  }
  &.danger {
    @include theme($button-color-info);
  }

  &.disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
  &.shadow {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  &.round {
    border-radius: rem(44);
  }
  &.rounded {
    border-radius: rem(5);
  }
  &.sharp {
    border-radius: 0;
  }
}
