@import "src/styles/imports.scss";
.sidebar-menu-list {
  display: flex;
  width: 80%;
  flex-direction: column;
  padding-top: rem(30);
  height: 75vh;
  overflow: scroll;
  @include hideScrollbar();
  padding-bottom: rem(30);
  gap: rem(3);
}
@media (min-width: em($tablet)) {
  .sidebar-menu-list {
    padding-top: rem(15);
  }
}
