@import "src/styles/imports.scss";
.placeholder {
  position: absolute;
  @include right(0);
  transition: all 250ms ease-out;
  top: 0;
  @include placeholder();
  &.focused {
    color: $input-focus-color;
  }
  &.animated {
    transform: translate(0, rem(-20));
    @include placeholder-focus();
  }
}

@media (min-width: em($desktop)) {
  .placeholder {
    &.animated {
      transform: translate(0, rem(-20));
    }
  }
}
