@import "src/styles/imports.scss";
.file-input-wrapper {
  position: relative;
  .media-file {
    display: none;
  }
  .media-file-label {
    border-radius: rem(5);
    width: rem(130);
    height: rem(30);
    cursor: pointer;
    font-size: rem(16);
    background: $input-focus-color;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    &.disabled {
      opacity: 0.4;
      pointer-events: none;
    }
  }
  .file-name-title {
    font-size: rem(16);
    font-family: $font-light;
    position: absolute;
    top: 100%;
  }
}

@media (min-width: em($desktop)) {
  .file-input-wrapper {
    .media-file-label {
      width: rem(150);
      height: rem(35);
      font-size: rem(18);
    }
  }
}
