@use "styles/functions";
@use "styles/settings";
@use "styles/mixins";
.trash-popup {
	.content {
		display: flex;
		flex-direction: column;
		align-items: center;

		.animation-wrapper {
			width: functions.rem(250);
		}
		.title {
			margin-top: functions.rem(15);
			font-size: functions.rem(22);
			font-family: settings.$font;
		}
		.disclaimer {
			font-size: functions.rem(16);
			font-family: settings.$font-light;
		}
		.actions {
			display: flex;
			flex-direction: column;
			margin-block: functions.rem(25);
			align-items: center;
			gap: functions.rem(15);
			.button {
				width: functions.rem(140);
				height: functions.rem(35);
				border-radius: functions.rem(33);
			}
		}
	}
}
