@use "styles/settings";

.checkbox-image-wrapper {
	position: relative;
	.checkbox-img {
		rect {
			stroke: settings.$mid-dark-grey;
		}
	}

	.check-mark-img {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		opacity: 0;
		transition: opacity 300ms ease-in-out;
		path {
			fill: settings.$input-focus-color;
		}
		&.selected {
			opacity: 1;
		}
	}
}
