@import "src/styles/imports.scss";
.sidebar-menu-link {
  height: rem(50);
  align-items: center;
  display: flex;
  z-index: 20;
  padding-inline-start: rem(20);

  &.active {
    background-color: $cms-main-color;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 3px;
  }
  .sidebar-menu-link-text {
    font-size: rem(16);
    font-weight: 200;
    color: $cms-basic-white;
    pointer-events: none;
    font-family: $font;
  }
}

@media (min-width: em($tablet)) {
  .sidebar-menu-link {
    height: rem(50);

    padding-inline-start: rem(20);

    .sidebar-menu-link-text {
      font-size: rem(16);
    }
  }
}

@media (min-width: em($desktop)) {
  .sidebar-menu-link {
    height: rem(70);

    padding-inline-start: rem(20);

    .sidebar-menu-link-text {
      font-size: rem(16);
    }
  }
}
