@use "styles/functions";
@use "styles/settings";
@use "styles/mixins";
.general-row-wrapper {
	margin-top: functions.rem(20);
	.title-wrapper {
		display: flex;
		gap: functions.rem(6);
		align-items: center;

		.general-info-title {
			font-size: functions.rem(20);
			margin: 0;
			font-family: settings.$font;
		}
		.icon-wrapper {
			width: functions.rem(18);
			height: functions.rem(18);
		}
	}
	.inputs {
		margin-top: functions.rem(20);
		display: flex;
		flex-direction: column;
		gap: functions.rem(30);
		padding-inline: functions.rem(10);
	}
}

@media (min-width: functions.em(settings.$desktop)) {
	.general-row-wrapper {
		width: 50%;
	}
}
