@use "styles/functions";
@use "styles/settings";

.attendance-page {
	display: flex;
	align-items: center;
	flex-direction: column;

	padding-top: functions.rem(50);
	.attendance-page-header {
		display: flex;
		flex-direction: column;
		gap: functions.rem(20);
		.auto-complete {
			width: functions.rem(218);
		}
	}
	.data-wrapper {
		width: 100%;
	}
	.table {
		margin-top: functions.rem(20);
	}
}

@media (min-width: functions.em(settings.$desktop)) {
	.attendance-page {
		.attendance-page-header {
			flex-direction: row;

			.auto-complete {
				width: functions.rem(300);
			}
		}
	}
}
