@import "src/styles/imports.scss";

.update-user-popup {
  .form {
    padding-bottom: rem(150);
    padding-top: rem(30);
    padding-inline: rem(30);
  }
}

@media (min-width: em($desktop)) {
  .update-user-popup {
    .form {
      padding-inline: rem(80);
    }
  }
}
