@use "sass:color";
@use "mixins";

// --- Mixin to spit out every CSS var from one “base” color
@mixin theme-variables($input-color, $cms-color) {
	--input-focus-color: #{$input-color};
	--input-background-color: #{color.adjust($input-color, $lightness: 45%)};
	--input-background-hover-color-light: #{color.adjust($input-color, $lightness: 20%)};
	--input-background-hover-color-dark: #{color.adjust($input-color, $lightness: -20%)};

	--cms-main-color: #{$cms-color};
	--cms-secondary-color: #{color.adjust($cms-color, $lightness: 25%)};
	--cms-main-light-color: #{color.adjust($cms-color, $lightness: 47%)};
	--cms-main-min-light-color: #{color.adjust($cms-color, $lightness: 40%)};
}

:root {
	@include theme-variables(#017aff, #2c698f);

	--cms-basic-white: #ffffff;

	--font: "Heebo-Regular";
	--font-light: "Heebo-Light";
	--font-medium: "Heebo-Medium";
	--font-semibold: "Heebo-SemiBold";
	--font-bold: "Heebo-Bold";

	.input-icon-mark {
		@include mixins.recolor("cms-blue");
	}
}

.green {
	@include theme-variables(#4caf50, #4caf50);

	.input-icon-mark {
		@include mixins.recolor("cms-green");
	}
}
.orange {
	@include theme-variables(#ff6d00, #ff6d00);

	.input-icon-mark {
		@include mixins.recolor("cms-orange");
	}
}

.ck-editor {
	--ck-color-button-on-color: var(--input-focus-color);
	--ck-color-focus-border: var(--input-focus-color);
	--ck-color-list-button-on-background: var(--input-focus-color);
	--ck-color-button-on-background: var(--input-background-color);
	--ck-color-list-button-on-background-focus: var(--input-background-hover-color-dark);
	--ck-color-base-active-focus: var(--input-focus-color);
	--ck-color-base-active: var(--input-focus-color);
	--ck-focus-ring: 1px solid var(--input-focus-color);
}
