@use "styles/functions";

@use "styles/locale";

.navigation-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	display: flex;
	align-items: center;
	pointer-events: none;
	justify-content: space-between;
	padding-inline: functions.rem(10);
	z-index: 30;

	.navigation {
		pointer-events: all;

		width: functions.rem(50);
		height: functions.rem(50);
		&:global(.swiper-button-disabled) {
			opacity: 0;
		}
		&.prev {
			@include locale.rotate(180);
		}

		&.next {
			@include locale.rotate(0);
		}
	}
}
