@import "src/styles/imports.scss";
.active-menu-link {
  margin-inline-start: rem(15);
}

@media (min-width: em($tablet)) {
  .active-menu-link {
    margin-inline-start: rem(15);
  }
}

@media (min-width: em($desktop)) {
  .active-menu-link {
    margin-inline-start: rem(15);
  }
}
