@import "src/styles/imports.scss";
.action-button-text {
  width: rem(100);

  font-size: rem(14);
  color: white;

  padding-block: rem(5);
  border-radius: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(9);
  .icon-wrapper {
    width: rem(10);
    filter: invert(100%) sepia(0%) saturate(7492%) hue-rotate(155deg)
      brightness(99%) contrast(94%);
  }
}

@media (min-width: em($tablet)) {
  .action-button-text {
    width: rem(100);

    font-size: rem(14);

    padding-block: rem(5);
    gap: rem(9);
    .icon-wrapper {
      width: rem(10);
    }
  }
}

@media (min-width: em($desktop)) {
  .action-button-text {
    width: rem(100);

    font-size: rem(14);

    padding-block: rem(5);
    gap: rem(9);
    .icon-wrapper {
      width: rem(10);
    }
  }
}

@media (min-width: em($desktop_large)) {
  .action-button-text {
    width: rem(100);

    font-size: rem(14);

    padding-block: rem(5);
    gap: rem(9);
    .icon-wrapper {
      width: rem(10);
    }
  }
}
