@use "styles/functions";

.slider-carousel {
	.slider-carousel-slide {
		opacity: 0.5;
		transition: all 600ms ease-in;

		scale: 0.93;

		img {
			filter: blur(4px);
		}

		&:global(.swiper-slide-active) {
			opacity: 1;
			scale: 1;
			margin: 0;

			img {
				filter: unset;
			}
		}
	}
}
