@use "styles/functions";
@use "styles/settings";

$border-radius: functions.rem(25);
.slide-popup {
	position: relative;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: center;

	.popup-backdrop {
		display: flex;
		position: absolute;
		z-index: 1;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.5);
		opacity: 0;
		transition: all 350ms ease-out;
		backdrop-filter: blur(8px);

		&.active,
		&.done {
			opacity: 1;
		}
	}

	.popup-wrapper {
		border-top-right-radius: $border-radius;
		border-top-left-radius: $border-radius;
		width: 100%;
		top: 100%;
		max-height: 100%;

		background-color: white;
		transition: top 350ms ease-in-out;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 2;

		&.active,
		&.done {
			top: 0;
		}
		&.exit {
			top: 100%;
		}

		.gesture {
			margin-bottom: functions.rem(10);
		}

		.popup-container {
			width: 100%;

			border-top-right-radius: $border-radius;
			border-top-left-radius: $border-radius;

			.close-icon-wrapper {
				position: absolute;

				top: functions.rem(10);
				left: functions.rem(10);
				width: functions.rem(18);
				height: functions.rem(18);
			}
			.popup-content {
				width: 100%;

				max-height: 80vh;
			}
		}
	}
}

@media (min-width: functions.em(settings.$tablet)) {
	$border-radius: functions.rem(16);

	.slide-popup {
		align-items: center;
		justify-content: center;

		.popup-wrapper {
			max-width: functions.rem(650);
			border-radius: $border-radius;

			.gesture {
				display: none;
			}
			.popup-container {
				border-radius: $border-radius;
				.popup-content {
					max-height: min(#{functions.rem(650)}, 80vh);
				}
			}
		}
	}
}
