@import "src/styles/imports.scss";

.option {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: rem(40);
  width: 100%;
  padding-inline: rem(10);

  border-bottom: #d3d3d3;
  &.highlight {
    background-color: $input-background-color;
  }
  .color-item {
    width: rem(20);
    height: rem(20);
    margin-inline-end: rem(10);
    border-radius: 100%;
  }

  .option-text {
    font-size: rem(16);
    font-family: $font;
    .bold {
      font-weight: 600;
    }
  }
}
