@import "src/styles/imports";
.buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  width: rem(50);
  .item-button {
    width: rem(10);
    height: rem(10);
    border-radius: 100%;
    &-red {
      background-color: $appleRed;
    }
    &-yellow {
      background-color: $appleYellow;
    }
    &-green {
      background-color: $appleGreen;
    }
  }
}
