@import "src/styles/imports.scss";

.link-auto-complete {
  width: 100%;

  align-items: center;
  flex: 1;
  display: flex;
  gap: rem(8);

  .plus-icon {
    width: rem(20);
    height: rem(20);
    font-family: $font;
    font-size: rem(16);
    border-radius: 50%;
    border: 0.5px solid $cmsBlue;
  }
}
