@use "styles/functions";

@use "styles/settings";

$loader-color: settings.$blackish;

.loader-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #c8c8c840;
	backdrop-filter: blur(10px);
	z-index: 9999;
	transition: all 400ms ease-in;

	&.hidden {
		opacity: 0;
		pointer-events: none;
		z-index: -1;
	}

	.loader {
		width: functions.rem(35);
		aspect-ratio: 1/1;

		--c: linear-gradient(#{$loader-color} 0 0);
		--r1: radial-gradient(farthest-side at bottom, #{$loader-color} 93%, #{$loader-color});
		--r2: radial-gradient(farthest-side at top, #{$loader-color} 93%, #{$loader-color});
		background: var(--c), var(--r1), var(--r2), var(--c), var(--r1), var(--r2), var(--c), var(--r1), var(--r2);
		background-repeat: no-repeat;

		animation: loader-animation 1s infinite alternate;
	}
}

@keyframes loader-animation {
	0%,
	25% {
		background-size:
			8px 0,
			8px 4px,
			8px 4px,
			8px 0,
			8px 4px,
			8px 4px,
			8px 0,
			8px 4px,
			8px 4px;
		background-position:
			0 50%,
			0 calc(50% - 2px),
			0 calc(50% + 2px),
			50% 50%,
			50% calc(50% - 2px),
			50% calc(50% + 2px),
			100% 50%,
			100% calc(50% - 2px),
			100% calc(50% + 2px);
	}
	50% {
		background-size:
			8px 100%,
			8px 4px,
			8px 4px,
			8px 0,
			8px 4px,
			8px 4px,
			8px 0,
			8px 4px,
			8px 4px;
		background-position:
			0 50%,
			0 calc(0% - 2px),
			0 calc(100% + 2px),
			50% 50%,
			50% calc(50% - 2px),
			50% calc(50% + 2px),
			100% 50%,
			100% calc(50% - 2px),
			100% calc(50% + 2px);
	}
	75% {
		background-size:
			8px 100%,
			8px 4px,
			8px 4px,
			8px 100%,
			8px 4px,
			8px 4px,
			8px 0,
			8px 4px,
			8px 4px;
		background-position:
			0 50%,
			0 calc(0% - 2px),
			0 calc(100% + 2px),
			50% 50%,
			50% calc(0% - 2px),
			50% calc(100% + 2px),
			100% 50%,
			100% calc(50% - 2px),
			100% calc(50% + 2px);
	}
	95%,
	100% {
		background-size:
			8px 100%,
			8px 4px,
			8px 4px,
			8px 100%,
			8px 4px,
			8px 4px,
			8px 100%,
			8px 4px,
			8px 4px;
		background-position:
			0 50%,
			0 calc(0% - 2px),
			0 calc(100% + 2px),
			50% 50%,
			50% calc(0% - 2px),
			50% calc(100% + 2px),
			100% 50%,
			100% calc(0% - 2px),
			100% calc(100% + 2px);
	}
}
