@import "src/styles/imports.scss";
.footer-wrapper {
  background-color: $text-black;
  color: white;
  font-family: $font;
  font-size: rem(14);
  display: flex;
  justify-content: space-between;
  padding: rem(15) rem(15);
  align-items: center;
  .credit-link {
    direction: ltr;
  }
}
