@use "styles/functions";
@use "styles/settings";
@use "styles/mixins";

.cms-login-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .login-form-wrapper {
    background: rgba(255, 255, 255);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: functions.rem(30);
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    .theme-image {
      flex: 1;
      img {
        object-fit: cover;
        height: 100%;
      }
    }

    .inputs {
      margin-top: functions.rem(20);
      padding-bottom: functions.rem(50);
      flex: 1;
    }
  }
}

@media (min-width: functions.em(settings.$desktop)) {
  .cms-login-wrapper {
    .login-form-wrapper {
      border-radius: functions.rem(30);
      width: functions.rem(1000);
      flex-direction: row-reverse;
      gap: functions.rem(30);
      padding-inline-start: functions.rem(50);

      .theme-image {
        width: 50%;
        height: functions.rem(400);
      }
      .inputs {
        margin: 0;
        padding: 0;
      }
    }
  }
}
