@import "src/styles/imports.scss";

.select-wrapper {
  width: 100%;
  position: relative;
  height: fit-content;

  .button-select {
    justify-content: flex-start;
    width: 100%;
    border-bottom: 1px solid $grey;
    &:focus {
      border-color: $input-focus-color;
    }

    &.disabled {
      @include input-disabled();
    }

    .placeholder {
      @include placeholder();
    }
    .select-text {
      @include input();
    }
  }
}
