@import "src/styles/imports.scss";
.button {
  font-size: rem(16);
  padding: rem(5) rem(20);
  background-color: $cms-main-color;
  border-radius: rem(55);
  color: white;
  font-family: $font;

  position: relative;
  overflow: hidden;

  &.disabled {
    opacity: 0.4;
    pointer-events: none;
    cursor: not-allowed;
  }
}

@media (min-width: em($tablet)) {
  .button {
    font-size: rem(18);
  }
}

@media (min-width: em($desktop)) {
  .button {
    font-size: rem(18);
  }
}

.ripple-creator {
  &.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
    background-color: rgba(255, 255, 255, 0.7);
  }
}
@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
