.skeleton {
  width: 100%;

  /* Ugly hack to fix a strange
     * Chrome compositing problem.
     */
  opacity: 0.99;
  background-color: #ebebeb;
  display: flex;
  line-height: 1;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &.loaded {
    &::after {
      content: none;
    }

    .content {
      pointer-events: unset;
      opacity: 1;
    }
  }
  &::after {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(90deg, #ebebeb, #f5f5f5, #ebebeb);
    transform: translateX(-100%);
    animation-name: loading-skeleton;
    animation-direction: normal;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
  .content {
    pointer-events: none;
    opacity: 0;
    transition: 500ms all ease-in;
    width: 100%;
    height: 100%;
  }
}

@keyframes loading-skeleton {
  100% {
    transform: translateX(100%);
  }
}
